@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.conteiner {
  width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
}

.header {
  background-color: #84a178;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 28px;
  padding: 32px 205px 12px 0;
}
.nav-links .nav-link:hover {
  color: #F8D24E;
}
.nav-links .nav-link:focus {
  color: #FFF;
}

.nav-link {
  text-decoration: none;
  color: #FCFCFC;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.btn {
  background-color: #F8D24E;
  color: #000;
  font-family: "Montserrat";
  text-align: center;
  font-style: normal;
  line-height: normal;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 35px 12px 36px;
  margin-top: 20px;
  border-radius: 10px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease;
}
.btn:hover {
  background: #0a8817;
  cursor: pointer;
}
.btn:focus {
  color: #FFF;
  background: #0a8817;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 200px;
}

.logo {
  margin-right: 280px;
  fill: #F8D24E;
}

.title-p {
  color: #FCFCFC;
  font-family: "Seymour One";
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.52px;
  text-transform: uppercase;
  width: 367px;
}

.hero {
  background-color: #84a178;
}

.hero-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(/image/Крапки.png);
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.title-p {
  padding-top: 45px;
}

.title {
  margin-right: auto;
}

.btn-hero {
  color: #131313;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  padding: 12px 34px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  outline: 3px solid #F8D24E;
}

.btn-link-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 12px;
  margin-top: 28px;
}

.link-hero {
  color: #F8D24E;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  padding: 12px 22px;
  border: none;
  background-color: transparent;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}
.link-hero:hover {
  color: #0A8817;
}

.pescture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 42px;
}

.descrp-ice {
  color: #FFF;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 200px;
  padding-top: 67px;
  padding-bottom: 24px;
}

.price-ice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-title {
  text-align: end;
  margin-top: 53px;
}

.first-pr {
  margin-bottom: 16px;
}

.price {
  color: #131313;
  text-align: right;
  font-family: Montserrat;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.84px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.name {
  color: #FCFCFC;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.big-peacture {
  padding-top: 31px;
}

.products {
  padding: 60px 0;
}

.title-products {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.produst {
  background-image: url(../image/Frame.jpg);
  background-size: contain;
}

.name-section {
  color: #131313;
  text-align: center;
  font-family: Seymour One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}

.title-cream {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 165px 0 66px 0;
}

.products-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ice-creame-block {
  padding: 165px 62px 60px 62px;
  max-width: 370px;
  margin-top: 304px;
  border-radius: 24px;
  background-color: #AEC6A5;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.ice-creame-block::before {
  content: "";
  position: absolute;
  top: -167px;
  left: 34px;
  width: 302px;
  height: 302px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #D9D9D9;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 8px 30px 0px rgba(10, 136, 23, 0.25);
}
.ice-creame-block::after {
  content: "";
  width: 302px;
  height: 302px;
  background-image: url(../image/ice-cream.png);
  position: absolute;
  top: -183px;
  left: 34px;
}

.title-block {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.descrp-block {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.64px;
  height: 142px;
}

.title-block {
  margin-bottom: 66px;
}

.icon-strelka {
  margin-top: 50px;
}

.ice-coffee-block {
  max-width: 370px;
  padding: 165px 62px 60px 62px;
  margin-top: 304px;
  border-radius: 24px;
  background-color: #EFD478;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.ice-coffee-block::before {
  content: "";
  width: 302px;
  height: 302px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #D9D9D9;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
  top: -167px;
  left: 34px;
  position: absolute;
}
.ice-coffee-block::after {
  content: "";
  width: 302px;
  height: 302px;
  border-radius: 100%;
  background-image: url(../image/ice-coffee.jpg);
  position: absolute;
  top: -183px;
  left: 34px;
}

.milkshakes {
  max-width: 370px;
  padding: 165px 62px 60px 62px;
  margin-top: 304px;
  border-radius: 24px;
  background: #D6936D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.milkshakes::before {
  content: "";
  width: 302px;
  height: 302px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(213, 117, 63, 0.7)), to(rgba(213, 117, 63, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%), #D9D9D9;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
  top: -167px;
  left: 34px;
  position: absolute;
}
.milkshakes::after {
  content: "";
  width: 302px;
  height: 302px;
  border-radius: 100%;
  background-image: url(../image/milkshakes.jpg);
  position: absolute;
  top: -183px;
  left: 34px;
}

.traditions {
  background-color: #84A178;
  padding: 60px 0 178px 0;
  position: relative;
}

.title-tradition {
  color: #FCFCFC;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.second-title {
  color: #FCFCFC;
  text-align: center;
  font-family: Seymour One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  margin-bottom: 82px;
}

.block-kow {
  width: 490px;
  height: 490px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 250px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #D9D9D9;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
  position: relative;
}
.block-kow::after {
  content: "";
  background-image: url(../image/cow.png);
  width: 490px;
  height: 490px;
  position: absolute;
  top: 39px;
  left: 0;
}

.ice-descrp {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.64px;
  margin-top: 90px;
  margin-bottom: 8px;
  max-width: 463px;
}

.traditional-descrp {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 194%;
  letter-spacing: 0.56px;
  margin-bottom: 54px;
  max-width: 463px;
}

.tradition-btn {
  padding: 12px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: #000;
  background-color: #F8D24E;
  border-radius: 10px;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  border: none;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 110px;
}

.icon-blocks {
  margin-top: 106px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.block-icon-cow {
  width: 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #F8D24E;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.number {
  color: #FCFCFC;
  text-align: center;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.32px;
  margin-bottom: 12px;
}

.title-block-icon-cow {
  color: #FCFCFC;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.32px;
}

.block-icon-dembbell {
  width: 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-icon-ice {
  width: 368px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img {
  border-radius: 24px;
}

.img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-left: 77px;
}

.reviews {
  padding: 464px 0 186px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.review-section {
  background-image: url(../image/Frame.jpg);
  background-repeat: repeat;
  background-size: contain;
}

.review {
  color: #FCFCFC;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
  width: 968px;
  border-radius: 24px;
  background: #84A178;
  padding: 43px 109px;
}

.woman-peacture {
  border-radius: 50%;
  margin-bottom: 32px;
}

.comment-autor {
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  margin: 32px 0;
}

.block-small-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 100px;
}

.icon-slider {
  fill: #84A178;
}

.icon-slider-second {
  fill: #D9D9D9;
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.contacts {
  position: absolute;
  bottom: -368px;
}

.table {
  padding: 40px;
  text-align: start;
  display: block;
  max-width: 368px;
  max-height: 542px;
  border-radius: 24px;
  background: #FFF;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.title-table {
  color: #131313;
  border-radius: 6px;
  padding: 4px 14px;
  background-color: #F8D24E;
  text-align: start;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.64px;
  margin-bottom: 32px;
}

.city {
  color: #131313;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
  margin-bottom: 8px;
}

.link-address {
  color: #D6936D;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.64px;
}

.first-block,
.second-block {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 32px;
}

.second-block {
  margin-top: 32px;
}

.days {
  color: #131313;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
}

.time {
  color: #ABABAB;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
}

.second-plan {
  margin-top: 12px;
}

.contacts-block {
  margin-top: 32px;
  color: #131313;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.mail {
  margin-top: 4px;
}

.footer {
  background-color: #84A178;
  padding-top: 474px;
}

.btn-locations {
  padding: 12px 40px;
  background-color: #F8D24E;
  border-radius: 10px;
  margin-right: 16px;
}
.btn-locations:hover {
  background-color: #0A8817;
}
.btn-locations:focus {
  background-color: #0A8817;
  color: #fff;
  fill: #fff;
}

.btn-franchise {
  padding: 9.5px 52px;
  color: #131313;
  text-align: center;
  font-family: Montserrat;
  background-color: transparent;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.btn-franchise:hover {
  border: 2px solid #0A8817;
}

.btns-contacts {
  text-align: center;
}

.made-ice-creame {
  margin-top: 120px;
  max-width: 504px;
}
.made-ice-creame .made-ice-creame__first {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.made-ice-creame .made-ice-creame__second {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.48px;
  text-transform: uppercase;
}

.footer-main-block {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-link {
  gap: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 40px;
  margin-top: 18px;
}

.social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer-contacts__phone {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.footer-contacts__phone:hover {
  color: #F8D24E;
}

.footer-contacts__descrp {
  color: #131313;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
}

.security-block {
  border-top: 1px solid #E1E1E1;
  padding: 12px 0;
}
.security-block .security {
  color: #7A7A7A;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.24px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */